.sidebar__introduction-title {
  text-transform: none;
}

.post__content img {
  display: inline-block;
}

.portfolio__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.portfolio__meta-item .fas {
  vertical-align: -1px;
}
